.text {
    display: flex;
    padding: 5vw;
}

.nouveautes {
    margin-top: 5vh;
    font-size: 2rem;
}


.test{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 5vh;
    font-size: 1.5rem;
}



.video{
    width: 80%;
    display: flex;
    margin: auto;
    
}

.descriptif {
    padding: 3vw;
}

.descriptif a{
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #c4c4c4;
}

.descriptif a:hover{
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.img{
    margin-top: 3vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
 
.image{
    display: flex;
    width: 40%;
}



/* style pour la page de reservation */

.aucun{
    margin-bottom: 20vh;
    margin-top: 10vh;
    font-size: 1.2em;
    text-align: center;

}



/* style pour la page plan du site */

.plan{
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 20vh;
    justify-content: space-between;
}

.plan a{
    color: #eee;
}

.plan li{
    margin-left: 30px;
}

@media (max-width: 950px) {
    .plan{
        flex-direction: column;
        margin: auto;
    }

    h1{
        margin-top: 20px;
    }


}